body {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  .header {
    .logo {
      width: auto;
    }
  }
  img {
    width: auto;
  }

  .products {
    .product {
      .images {
        .imagesProducts {
          height: 200px;
          width: 100%;
        }
      }
    }
  }
  .productBanner {
    .productImageBanner {
      height: 290px;
      width: auto;
    }
  }

  .menuIsOpen {
    background-color: rgba(17, 24, 39, 0.98);
    height: calc(100% - 64px);
    position: fixed;
    z-index: 50;
    top: 64px;
    right: 0;
    width: 60%;
    transition: all 2s ease;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      li {
        font-size: 1.5rem;

        padding: 0.5rem;
      }
    }
  }
}
