body {
  font-weight: bold;
  .header {
    .logo {
      width: auto;
    }
  }
  img {
    width: auto;
  }

  .products {
    .product {
      .images {
        .imagesProducts {
          height: 190px;
          width: 340px;
        }
      }
    }
  }
  .productBanner {
    .productImageBanner {
      height: 290px;
      width: auto;
    }
  }

  .menuIsOpen {
    background-color: rgba(17, 24, 39, 0.3);
    height: calc(100% - 64px);
    position: fixed;
    z-index: 50;
    top: 64px;
    right: 0;
    width: 60%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      transition: all 2s ease;

      li {
        font-size: 1.5rem;
      }
    }
  }
}
